<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/HRP-Harper/Esigns/main/China%20Telecom%20Corporation%20Limited%20%28XC%20com%20ctq%20qmc%20yiban%20inde%29.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>p3.xyz.yyyue.esign.HRP.Harper15</string>
                <key>bundle-version</key>
                <string>5.0.1</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Esign</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
